Inference untuk customer segmentation

In [2]:
#import library
import pandas as pd
import numpy as np
import pickle
import json

In [4]:
# Load model
with open('scaler.pkl', 'rb') as f1:
    scaler = pickle.load(f1)

with open('pca.pkl', 'rb') as f2:
    pca = pickle.load(f2)

with open('kmeans_model.pkl', 'rb') as f3:
    kmeans_model = pickle.load(f3)

In [5]:
# Membuat data baru untuk diuji (format sama dengan data yang digunakan untuk pelatihan)
data_baru = pd.DataFrame({
    'BALANCE': [2000.0, 1000.0, 1200.0],
    'BALANCE_FREQUENCY': [1.0, 0.5, 0.8],
    'PURCHASES': [3000.0, 500.0, 800.0],
    'ONEOFF_PURCHASES': [1500.0, 100.0, 200.0],
    'INSTALLMENTS_PURCHASES': [1000.0, 50.0, 300.0],
    'CASH_ADVANCE': [0.0, 200.0, 0.0],
    'PURCHASES_FREQUENCY': [0.7, 0.2, 0.5],
    'ONEOFF_PURCHASES_FREQUENCY': [0.5, 0.1, 0.3],
    'PURCHASES_INSTALLMENTS_FREQUENCY': [0.6, 0.2, 0.4],
    'CASH_ADVANCE_FREQUENCY': [0.0, 0.1, 0.0],
    'CASH_ADVANCE_TRX': [0.0, 5.0, 0.0],
    'PURCHASES_TRX': [25.0, 5.0, 10.0],
    'CREDIT_LIMIT': [10000.0, 5000.0, 7000.0],
    'PAYMENTS': [2000.0, 500.0, 800.0],
    'MINIMUM_PAYMENTS': [1000.0, 300.0, 500.0],
    'PRC_FULL_PAYMENT': [0.0, 0.0, 0.0],
    'TENURE': [12.0, 12.0, 12.0]
})

# Tampilkan data baru
data_baru

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,2000.0,1.0,3000.0,1500.0,1000.0,0.0,0.7,0.5,0.6,0.0,0.0,25.0,10000.0,2000.0,1000.0,0.0,12.0
1,1000.0,0.5,500.0,100.0,50.0,200.0,0.2,0.1,0.2,0.1,5.0,5.0,5000.0,500.0,300.0,0.0,12.0
2,1200.0,0.8,800.0,200.0,300.0,0.0,0.5,0.3,0.4,0.0,0.0,10.0,7000.0,800.0,500.0,0.0,12.0

In [6]:
# Scaling data baru dengan scaler yang telah dilatih
data_baru_scaled = scaler.transform(data_baru)

# Mengaplikasikan PCA pada data yang sudah diskalakan
data_baru_pca = pca.transform(data_baru_scaled)

In [8]:
# Melakukan prediksi (inferensi) untuk data baru
prediksi_cluster = kmeans_model.predict(data_baru_pca)

# Menambahkan hasil prediksi (cluster) ke data baru
data_baru['Cluster'] = prediksi_cluster

# Tampilkan data baru dengan hasil prediksi
data_baru

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,Cluster
0,2000.0,1.0,3000.0,1500.0,1000.0,0.0,0.7,0.5,0.6,0.0,0.0,25.0,10000.0,2000.0,1000.0,0.0,12.0,0
1,1000.0,0.5,500.0,100.0,50.0,200.0,0.2,0.1,0.2,0.1,5.0,5.0,5000.0,500.0,300.0,0.0,12.0,1
2,1200.0,0.8,800.0,200.0,300.0,0.0,0.5,0.3,0.4,0.0,0.0,10.0,7000.0,800.0,500.0,0.0,12.0,2

Hasil inferensi terhadap tiga data nasabah baru menunjukkan kecocokan yang baik dengan karakteristik masing-masing klaster yang telah dianalisis sebelumnya. Penilaian istilah seperti “tinggi”, “rendah”, dan “sedang” merupakan hasil perbandingan nilai nasabah dengan data nasabah lainnya.

Nasabah pertama termasuk dalam Cluster 0: Nasabah Aktif Belanja :
Tinggi dalam saldo (2000), batas kredit (10000), total pembelian (3000), dan frekuensi transaksi (0.7–1.0).
Rendah dalam penggunaan cash advance (0).
Moderat dalam pembayaran (2000) dan minimum payment (1000), mencerminkan konsumtif namun cukup mampu membayar.

Nasabah kedua tergolong Cluster 1: Nasabah Minim Transaksi, Cenderung Tarik Tunai :
Tinggi dalam penggunaan cash advance (200) dan jumlah transaksi cash advance (5).
Rendah dalam pembelian (500) dan frekuensi transaksi (0.1–0.2).
Moderat dalam saldo (1000), batas kredit (5000), dan pembayaran (500), menunjukkan preferensi tarik tunai dengan aktivitas belanja rendah.

Nasabah ketiga berada di Cluster 2: Pengguna Cicilan yang Stabil :
Tinggi dalam pembelian cicilan (300) dan frekuensi cicilan (0.4), tanpa transaksi sekali bayar atau cash advance.
Rendah dalam total pembelian (800) dan penggunaan lainnya.
Moderat dalam saldo (1200), batas kredit (7000), dan pembayaran (800), mencerminkan pola penggunaan kartu yang stabil, meski dalam batas kemampuan finansial yang terbatas.